<template>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mb-2">
          <div class="card-header">
            <h5>{{ datos ? 'Actualizar' : 'Guardar' }}</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <label class="control-label">Nombre del disco</label>
                  <input type="text" placeholder="Nombre del disco" v-model="form.name" class="form-control" />
                  <span v-if="messages.name" class="text-danger text-sm">{{ messages.name }}</span>
                </div>
                <div class="col-md-4">
                  <label class="control-label"> Album</label>
                  <input type="text" placeholder="Album" v-model="form.album" class="form-control" />
                  <span v-if="messages.album" class="text-danger text-sm">{{ messages.album }}</span>
                </div>
                <div class="col-md-4">
                  <label class="control-label font-weight-bold">Artista</label>
                  <input type="text" placeholder="Artista" v-model="form.artist" class="form-control" />
                  <span v-if="messages.artist" class="text-danger text-sm">{{ messages.artist }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="control-label">Genero</label>
                  <input type="text" placeholder="Genero" v-model="form.gender" class="form-control" />
                  <span v-if="messages.gender" class="text-danger text-sm">{{ messages.gender }}</span>
                </div>
                <div class="col-md-4">
                  <label class="control-label">Año</label>
                  <input type="number" min="1000" :max="currentYear" placeholder="Año de publicacion" v-model="form.year" class="form-control" />
                  <span v-if="messages.year" class="text-danger text-sm">{{ messages.year }}</span>
                </div>
                <div class="col-md-4">
                  <label class="control-label font-weight-bold">Foto de portada</label>
                  <input type="file" class="form-control"  accept="image/png, image/gif, image/jpeg" @change="fileUpdateImg" />
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-12 d-grid">
                  <button type="button" class="btn btn-primary btn-sm" @click="sendData">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</template>
<script>
import axios from 'axios';
export default {
  props:{
    datos: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      messages:{
        name: null,
        album: null,
        artist: null,
        gender: null,
        year: null
      },
      form: {
        id: 0,
        name: null,
        album: null,
        artist: null,
        photo: null,
        gender: null,
        year: null
      },
      userData: null,
      token: null,
      currentYear: new Date().getFullYear(),
    }
  },
  async mounted(){
    await this.getDataUser();
    if(this.datos){
      this.form.id = this.datos.id;
      this.form.name = this.datos.name;
      this.form.album = this.datos.album;
      this.form.artist = this.datos.artist;
      this.form.gender = this.datos.gender;
      this.form.year = this.datos.year;
    }
    this.token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

  },
  methods: {
    fileUpdateImg(event) {
      if (event.target.files[0]) {
        this.form.photo = event.target.files[0];
      } else {
        this.form.photo = null;
      }
    },
    sendData(){
      axios.defaults.headers.common['X-CSRF-TOKEN'] = this.token;
      const formData = new FormData();
      for (const key in this.form) {
        if (this.form[key] != null) {
          if (this.form[key] === true || this.form[key] === false) {
            formData.set(key, this.form[key] ? 1 : 0);
          } else if (this.form[key] !== '') {
            formData.append(key, this.form[key]);
          }
        }
      }
      axios.post(`/disc/form/${this.form.id}`, formData, {
        headers: { 'content-type': 'multipart/form-data' }
      }).then(response => {
        location.replace('/disc');
      }).catch(error => {
        const errors = error.response.data.errors;
        this.messages.album = errors.hasOwnProperty('album') ? errors.album[0] : null;
        this.messages.name = errors.hasOwnProperty('name') ? errors.name[0] : null;
        this.messages.year = errors.hasOwnProperty('year') ? errors.year[0] : null;
        this.messages.gender = errors.hasOwnProperty('gender') ? errors.gender[0] : null;
        this.messages.artist = errors.hasOwnProperty('artist') ? errors.artist[0] : null;
      });
    },

    getDataUser(){
      axios.get('/getDataUser').then(response => {
        this.userData = response.data;
        if(this.userData.name != "Administrador"){
          location.replace('/home');
        }
      }).catch(error => {
        console.log(error);
      });
    },

    clear(){
      for (const key in this.form) {
        this.form[key] = null;
      }
      this.form.id = 0;
    }
  }

}
</script>