<template>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mb-2">
          <div class="card-header">
            <h5>Filtar</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <input type="search" placeholder="Nombre del disco" v-model="form.name" @input="getData" class="form-control" />
                </div>
                <div class="col-md-4">
                  <input type="search" placeholder="Album" v-model="form.album" @input="getData" class="form-control" />
                </div>
                <div class="col-md-4">
                  <input type="search" placeholder="Artista" v-model="form.artist" @input="getData" class="form-control" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <h4 class="float-left">Discos</h4>
                  <div v-if="admin">
                    <a href="/disc/form/new" class="btn btn-outline-success btn-sm float-right">Nuevo disco</a>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Portada</th>
                          <th>Nombre</th>
                          <th>Album</th>
                          <th>Artista</th>
                          <th>Genero</th>
                          <th>Año</th>
                          <th v-if="admin">Opciones</th>
                        </tr>
                      </thead>
                      <tbody v-if="data">
                        <tr v-for="(item, index) in data" :key="index">
                          <td><img :src="item.photo" class="" width="100px" height="100px"/></td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.album }}</td>
                          <td>{{ item.artist }}</td>
                          <td>{{ item.gender }}</td>
                          <td>{{ item.year }}</td>
                          <td v-if="admin">
                            <a :href="`/disc/form/${item.id}`" class="btn btn-outline-success btn-sm">Editar</a>
                            <button class="btn btn-outline-danger btn-sm" @click="deleteItem(item.id)">Eliminar</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>
export default {
  props:{
    datos: {
      type: [Array],
      default: null
    }
  },
  data() {
    return {
      admin: false,
      data: [],
      form: {
        name: '',
        album: '',
        artist: ''
      },
      token: null,
    }
  },
  async created() {
    await this.getDataUser();
  },
  mounted(){
    this.data = this.datos;
    this.token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
  },

  methods: {
    deleteItem(id){
      //confirm = window.confirm('¿Esta seguro de eliminar el disco?');
      if(window.confirm('¿Esta seguro de eliminar el disco?')){
        axios.delete(`/disc/${id}`).then(response => {
          location.reload();
        }).catch(error => {
          const errors = error.response.data;
          console.log(errors);
        });
      }
    },
    getDataUser(){
      axios.get('/getDataUser').then(response => {
        const userData = response.data;
        if(userData.name == "Administrador"){
          this.admin = true;
        }
      }).catch(error => {
        console.log(error);
      });
    },

    getData(){
      axios.get(`discFilter?name=${this.form.name}&album=${this.form.album}&artist=${this.form.artist}`)
      .then(response => {
        this.data = response.data;
      }).catch(error => {
        console.log(error.response.data);
      })
    }
  }

}
</script>