<template>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <h4 class="float-left">Preferencias Musicales</h4>
                </div>
                <div class="card-body">
                  <multiselect
                    v-model="selectedTags"
                    :options="options"
                    :multiple="true"
                    :taggable="true"
                    :close-on-select="false"
                    placeholder="Agregar preferencias musicales"
                    track-by="name"
                    label="name"
                    id="tags"
                  ></multiselect>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
import Multiselect from 'vue-multiselect'
import 'vue-multiselect/dist/vue-multiselect.min.css';
export default {
  components: {
    Multiselect
  },
  props: {
    datos: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      selectedTags: [],
      admin: false,
      tags: [
        { id: 1, name: 'Tag 1' },
        { id: 2, name: 'Tag 2' },
        { id: 3, name: 'Tag 3' }
      ],
      options: [
        { name: "Clasica"},
        { name: "Jazz" },
        {name : "Blues"},
        {name : "Pop"},
        {name: "Rock and Roll"},
        {name: "Country"},
        {name: "Disco"},
        {name: "Hip Hop/Rap"},
        {name: "Salsa"},
        { name: "Ranchera"},
        {name: "Metal"},
        {name: "Regaeton"},
        {name: "Bachata"},
        {name: "Cumbia"},
        {name: "Banda"}
      ],
    }
  },
  watch: {
    selectedTags: function(){
      this.sendData();
    }
  },
  async created(){
    await this.getDataUser();
    if(this.datos){
      this.selectedTags = JSON.parse(this.datos);
    }
  },

  mounted(){
    this.token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    axios.defaults.headers.common['X-CSRF-TOKEN'] = this.token;
  },
  
  methods: {
    sendData(){
      const musical = JSON.stringify(this.selectedTags);
      axios.post('/preferencias', {'musical_prefer': musical}).then(response => {

      }).catch(error => {
        console.log(error);
      });
    },
    getDataUser(){
      axios.get('/getDataUser').then(response => {
        const userData = response.data;
        if(userData.name != "Usuario"){
          location.replace('/home');
        }
      }).catch(error => {
        console.log(error);
      });
    },
  }
}
</script>
<style scoped>
.vue-multiselect {
  display: block;
  width: 100%;
  font-size: 14px;
}

.vue-multiselect__tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.vue-multiselect__tag {
  display: inline-flex;
  align-items: center;
  margin: 2px 4px 2px 0;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
}

.vue-multiselect__tags input {
  width: 80px;
  padding: 2px;
  margin-left: 4px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
}

.vue-multiselect__tags input::-ms-clear {
  display: none;
}

.vue-multiselect__tags input::placeholder {
  color: #6c757d;
}

.vue-multiselect__tags input:focus {
  box-shadow: none;
}

.vue-multiselect__tags .multiselect__tag-icon {
  display: inline-block;
  margin-left: 4px;
  cursor: pointer;
}

.vue-multiselect__tags .multiselect__tag-icon:hover {
  color: #dc3545;
}
</style>