<template>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                  Mi perfil
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tr>
                        <td class="text-center" colspan="2">
                          <img :src="datos.photo" width="150px" height="150px" />
                        </td>
                      </tr>
                      <tr>
                        <th>Nombre:</th>
                        <td>{{ datos.name }}</td>
                      </tr>
                      <tr>
                        <th>Correo:</th>
                        <td>{{ datos.email }}</td>
                      </tr>
                      <tr>
                        <th>Telefono:</th>
                        <td>{{ datos.phone }}</td>
                      </tr>
                    </table>
                  </div>
                  <div v-if="!isEdit" class="row mt-4">
                    <div class="col-md-12 d-grid">
                      <button type="button" @click="(isEdit = true)" class="btn btn-primary btn-sm">Editar mis datos</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="isEdit" class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  Editar mi perfil
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="control-label">Nombre</label>
                        <input type="text" placeholder="" v-model="form.name" class="form-control" />
                        <span v-if="messages.name" class="text-danger text-sm">{{ messages.name }}</span>
                      </div>
                      <div class="col-md-6">
                        <label class="control-label"> Correo</label>
                        <input type="email" placeholder="email" v-model="form.email" class="form-control" />
                        <span v-if="messages.email" class="text-danger text-sm">{{ messages.email }}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="control-label font-weight-bold">Telefono</label>
                        <input type="text" placeholder="Telefono" v-model="form.phone" class="form-control" />
                        <span v-if="messages.phone" class="text-danger text-sm">{{ messages.phone }}</span>
                      </div>
                      <div class="col-md-6">
                        <label class="control-label font-weight-bold">Foto de perfil</label>
                        <input type="file" class="form-control"  accept="image/png, image/gif, image/jpeg" @change="fileUpdateImg" />
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-md-12 d-grid">
                        <button type="button" class="btn btn-primary btn-sm" @click="sendData">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>

</div>
</template>
<script>

export default {
  props: {
    datos: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      isEdit: false,
      messages: {
        name: null,
        email: null,
        phone: null,
        profile_id: null
      },
      form: {
        name: null,
        email: null,
        phone: null,
        img_photo: null,
        profile_id: null
      }
    }
  },
  mounted(){
    if(this.datos){
      this.form.id = this.datos.id;
      this.form.name = this.datos.name;
      this.form.email = this.datos.email;
      this.form.phone = this.datos.phone;
      this.form.profile_id = this.datos.profile_id;
    }
    this.token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    axios.defaults.headers.common['X-CSRF-TOKEN'] = this.token;
  },

  methods:{
    fileUpdateImg(event) {
      if (event.target.files[0]) {
        this.form.img_photo = event.target.files[0];
      } else {
        this.form.img_photo = null;
      }
    },
    sendData(){
      const formData = new FormData();
      for (const key in this.form) {
        if (this.form[key] != null) {
          if (this.form[key] === true || this.form[key] === false) {
            formData.set(key, this.form[key] ? 1 : 0);
          } else if (this.form[key] !== '') {
            formData.append(key, this.form[key]);
          }
        }
      }
      axios.post(`/users/form/${this.form.id}`, formData, {
        headers: { 'content-type': 'multipart/form-data' }
      }).then(response => {
        location.reload();
      }).catch(error => {
        const errors = error.response.data.errors;
        this.messages.album = errors.hasOwnProperty('name') ? errors.name[0] : null;
        this.messages.name = errors.hasOwnProperty('email') ? errors.email[0] : null;
        this.messages.year = errors.hasOwnProperty('phone') ? errors.phone[0] : null;
      });
    }
  }
}
</script>
