<template>
  <div class="container" >
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  Usuarios
                </div>
                <div class="card-body" v-if="datos">
                  {{ datos }}
                  <form :action="'/users/form/' + datos.id" method="POST">
                    <div class="">
                      <input type="email" v-model="datos.email" />
                    </div>
                    <input type="submit" value="Guardar" />
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>

export default {
  data() {
    return {

    }
  },
  props: {
    datos: {
      type: Object,
      default: null,
    },
  }
}
</script>
