<template>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <h4 class="float-left">Usuarios</h4>
                  <div>
                    <a href="/users/form/new" class="btn btn-outline-success btn-sm float-right">Nuevo usuario</a>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <td>Nombre</td>
                          <td>Correo</td>
                          <td>Telefono</td>
                          <td>Opciones</td>
                        </tr>
                      </thead>
                      <tbody v-if="datos">
                        <tr v-for="(item, index) in datos" :key="index">
                          <td>{{ item.name }}</td>
                          <td>{{ item.email }}</td>
                          <td>{{ item.phone }}</td>
                          <td>
                            <a :href="`/users/form/${item.id}`" class="btn btn-outline-success btn-sm">Editar</a>
                            <button class="btn btn-outline-danger btn-sm" @click="deleteItem(item.id)">Eliminar</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>

export default {
  props: {
    datos: {
      type: [Array],
      default: null
    }
  },
  data() {
    return {
      admin: false,
    }
  },

  async created(){
    await this.getDataUser(); 
  },
  
  methods: {
    deleteItem(id){
      //confirm = window.confirm('¿Esta seguro de eliminar el disco?');
      if(window.confirm('¿Esta seguro de eliminar el usuario?')){
        axios.delete(`/users/${id}`).then(response => {
          location.reload();
        }).catch(error => {
          const errors = error.response.data;
          console.log(errors);
        });
      }
    },
    getDataUser(){
      axios.get('/getDataUser').then(response => {
        const userData = response.data;
        if(userData.name != "Administrador"){
          location.replace('/home');
        }
      }).catch(error => {
        console.log(error);
      });
    },
  }
}
</script>
